* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid{
    min-width: 50%;
    min-height: 60%;
    display: grid;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px;
    padding: 7px;
    /* margin: 20px; */
    background-color: rgb(5, 87, 187);
}

.item {
    background-color: rgb(5, 253, 154);
    border: 1px solid black;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.item1{
    height: 100%;
    width: 100%;
    background-color: rgb(49, 235, 49);
    grid-row: 1/6;
}

.item2{
    height: 100%;
    width:100%;
    background-color: rgb(49, 235, 49);
    grid-column:2/4;
}

.item3{
    height: 100%;
    width: 100%;
    background-color:red;
    grid-column: 4/4;
}

.item4{
    height: 100%;
    width: 100%;
    background-color: yellow;
    grid-row:2/3;
    grid-column:2/3;
}

.item5{
    height: 100%;
    width: 100%;
    background-color: red;
    grid-row:2/3;
    grid-column:3/4;
}

.item6{
    height: 100%;
    width: 100%;
    background-color:red;
    grid-row: 3/6;
}

.item7{
    height: 100%;
    width: 100%;
    background-color:rgb(230, 245, 23);
    grid-row: 3/6;
}

.item8{
    height: 100%;
    width: 100%;
    background-color:rgb(38, 245, 23);
    grid-row: 2/6 ;
}


